.rtl{
    .tp-blog-slider.slider-style-3 .blog-btn.themephi-button a svg{
       transform: rotate(224deg);
    }
    .left_icon_yes ul li a:before{
        left:unset;
        right: 0;
        transform: rotate(180deg);
    }
    .footer_style1 #menu-single-menu li a{
        padding-right: 32px !important;
        padding-left: 0;
    }
    .tp-arrow-right:before{
        transform: rotate(180deg);
    }
    .tp-slider-navigation,
    #top-to-bottom{
        right: unset;
        left: 30px;
    }
    .slider-inner-wrapper .trasted-client{
        right: 60px;
        left:unset;
    }
    .slider-inner-wrapper .tp--slider.slider-style2 .single--item .banner-image .quote{
        left:unset;
        right: -30px;
    }
    .tp-arrow-right-long:before,
    .tp-arrow-left-long:before{
        transform: rotate(180deg);
    }
    .menu-wrap-off{
        left:0;
        right: unset;
        transform: translate3d(-520px, 0, 0);
    }
    .menu-ofcn.off-open{
        transform: translate3d(0px, 0, 0);
    }
    .menu-wrap-off .inner-offcan .nav-link-container,
    .themephi-sideabr .widget_block label.wp-block-search__label:after, 
    .themephi-sideabr .widget_block h2:after, .themephi-sideabr .widget-title:after{
        right:0;
        left:unset
    }
    .menu-area .navbar ul li:hover ul{
        right:32px
    }
    .menu-area .navbar ul li .sub-menu li ul{
        right: 100%;
        left:unset;
    }
    .menu-area .navbar ul li ul.sub-menu li a{
        text-align: right;
    }
    .menu-area .navbar ul li.menu-item-has-children ul li.menu-item-has-children > a:before{
        right:auto !important;
        left:0 !important;
    }
    .menu-area .icon2 .navbar ul.sub-menu > li.menu-item-has-children > a{
        margin-right: 0 !important;
    }
    .rs-skill-bar.style1 .skillbar .skill-bar-percent,
    .bs-search button{
        left:0;
        right: unset;
    }
    
    .close-search{
        left:50px;
        right: unset;
    }
    .mf-form-wrapper .metform-form-content .metform-form-main-wrapper .mf-input-wrapper .mf-input{
        text-align: right;
    }
    .tp-blog-slider.slider-style-2 .tps-blog-h-2-wrapper .image-part .blog-badge,
    .themephi-sideabr .widget_search button, .themephi-sideabr .bs-search button{
        left:0;
        right:unset
    }
    .elementor-widget-tp-price-table .elementor-widget-container .tp-pricing-table-price.display-inline .tp-pricing-table-period:before{
        right: -10px;
        left: unset;
    }
    .elementor-widget-tp-price-table .elementor-widget-container .tp-pricing-table-price.display-inline .tp-pricing-table-period{
        padding:0;
        margin-right: 24px;
    }
    .elementor-widget-tp-price-table .elementor-widget-container .tp-pricing-table-body .tp-pricing-table-features-list li i{
        margin-right: 0;
        margin-left: 10px;
    }
    .slider-call-area .icon i{
        margin-left:15px;
        margin-right: 0;
    }
    &.blog .themephi-blog .blog-item .full-blog-content .user-info .single-info, 
    &.archive .themephi-blog .blog-item .full-blog-content .user-info .single-info,
    &.single-post .themephi-blog-details .type-post .single-content-full .user-info .single-info{
        margin-left: 30px;
        margin-right: 0;
    }
    &.single-post .themephi-order-list li:before{
        right: 0;
        left: unset;
    }
    &.single-post .themephi-order-list li{
        padding-right: 22px;
        padding-left: 0;
    }
    .themephi-breadcrumbs .breadcrumbs-title span a:before{
        right: unset;
        left: -7px;
    }
    .themephi-breadcrumbs .breadcrumbs-title span a.home span{
        padding-right: 0;
        padding-left: unset;
        margin-left: 4px;
        margin-right: 0;
    }
    .themephi-breadcrumbs .breadcrumbs-single{
        margin-top: -70px;
    }
    .themephi-breadcrumbs .breadcrumbs-title span span{
        padding-left: 2px;
        padding-right: 15px;
    }
    .themephi-sideabr .widget_search input, .themephi-sideabr .bs-search input{
        padding-left: 65px;
        padding-right: 20px;
    }
    .themephi-sideabr .show-featured .post-img{
        float: right;
        padding-right: 0;
        padding-left: 15px;
    }
    
}